@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');


.carousel-item {
    text-align: center;
    display: flex;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}