@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Boldonse', sans-serif;
}

h2 {
    text-align: center;
}
#carouselDiabetesVideos {
    display: flex;
    justify-content: center;
}